# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
dev.server*.log

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

package-lock.json
pnpm-lock.yaml
node_modules
bun.lockb
bun.lock
dist
build
yarn.lock
yarn-error.log
.yarnrc.yml
.yarn
test.js
test.mjs
test.ts
test
prisma/generated

installer
installer.exe
dist*
test*

*.db
data/backups
